* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: #dadada;
    font-family: 'Courier New', Courier, monospace;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(bg.png);
    background-size: cover;
    background-position: center;
}


.container {
    position: relative;
    background-color:rgba(250, 235, 215, 0.142);
    height: auto; /* Change height to auto for responsiveness */
    width: 80%; /* Adjust container width */
    max-width: 600px; /* Set maximum width */
    min-width:  400px; 
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.container h1 {
    background: transparent;
    font-size: 1.7em;
    text-transform: uppercase;
    text-align: center;
}

.input-container {
    border: solid 2px rgb(255, 253, 251);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
    width: 70%; /* Adjust input width */
}

.input::placeholder {
    letter-spacing: 0px;
}

i {
    cursor: pointer;
    opacity: 1;
    font-size: 2rem;
}

i:hover {
    opacity: 0.7;
}
i:active {
    transform: scale(0.95);
}

.btn {
    background: #212121;
    color: white;
    border: none;
    border: 1px solid rgb(147, 147, 147);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    width: 30%; /* Adjust button width */
    min-width: 130px;
}

.btn:hover {
    background-color: #dadada;
    color: #212121;
    border: 1px solid #212121;
}

.btn:active {
    transform: scale(0.95);
}

.alert-container {
    position: fixed;
    width: 90%; /* Adjust alert container width */
    max-width: 300px; /* Set maximum width */
    height: auto;
    background-color: rgb(0, 0, 0);
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(157, 124, 124, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}

.active.alert-container {
    right: 20px; /* Adjust position */
    bottom: 20px; /* Adjust position */
}